@font-face {
  font-family: "Raleway";
  src: url("../sass/fonts/Raleway-Bold.woff2") format("woff2"),
    url("../sass/fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../sass/fonts/Roboto.woff2") format("woff2"),
    url("../sass/fonts/Roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";

  src: url("../sass/fonts/Roboto-Medium.woff2") format("woff2"),
    url("../sass/fonts/Roboto-Medium") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../sass/fonts/Roboto-Bold.woff2") format("woff2"),
    url("../sass/fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../sass/fonts/Roboto-Black.woff2") format("woff2"),
    url("../sass/fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
