$colors: (
  "accent-color": #2196f3,
  "title-color": #212121,
  "text-color": #757575,
  "basic-white": #ffffff,
  "basic-black": #000000,
  "team-button-bgr": #f5f4fa,
  "footer-hero-bgr": #2f303a,
  "head-border-line": #ececec,
  "projects-border-line": #eeeeee,
  "icons-color": #afb1b8,
  "input-border": rgba(33, 33, 33, 0.2),
);

@function getColor($key) {
  @return map-get($colors, $key);
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway"), url("../sass/utils/Raleway-Bold.woff2") format("woff2"),
    url("../sass/utils/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../sass/utils/Roboto.woff2") format("woff2"),
    url("../sass/utils/Roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../sass/utils/Roboto-Medium.woff2") format("woff2"),
    url("../sass/utils/Roboto-Medium") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../sass/utils/Roboto-Bold.woff2") format("woff2"),
    url("../sass/utils/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../sass/utils/Roboto-Black.woff2") format("woff2"),
    url("../sass/utils/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
